# ==== Core graph & geo ====
osmnx>=2.0,<3
geopandas>=0.14
shapely>=2.0
folium>=0.15
matplotlib>=3.7
numpy>=1.23
pandas>=1.5
pyproj>=3.5
fiona>=1.9

# ==== GUI (PyQt) ====
PyQt5>=5.15
PyQt5-WebEngine>=5.15

# llm
pyqtwebengine
faiss-cpu
sentence-transformers
pyyaml
folium

